<form [ngFormModel]="form" 
      (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" 
               class="form-control" 
               id="oldPassword" 
               ngControl="oldPassword" 
               #oldPassword="ngForm">
        <div *ngIf="oldPassword.touched && oldPassword.errors">
            <div class="alert alert-danger"
                 *ngIf="oldPassword.errors.required">
                 Current Password is Required!
            </div>
            <div class="alert alert-danger"
                 *ngIf="oldPassword.errors.invalidPassword">
                 Your current password is incorrect!
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" 
               class="form-control" 
               id="newPassword" 
               ngControl="newPassword" 
               #newPassword="ngForm"
               minlength="5">
        <div *ngIf="newPassword.touched && newPassword.errors">
            <div class="alert alert-danger"
                 *ngIf="newPassword.errors.required">
                 New Password is required!
            </div>
            <div class="alert alert-danger"
                 *ngIf="newPassword.errors.minlength">
                 New password must be atleast {{ newPassword.errors.minlength.requiredLength }} long!
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" 
               class="form-control" 
               id="confirmPassword" 
               ngControl="confirmPassword" 
               #confirmPassword="ngForm">
        <div *ngIf="confirmPassword.touched">
            <div class="alert alert-danger"
                 *ngIf="!confirmPassword.valid">
                 Confirm your password!
            </div>
            <div class="alert alert-danger"
                 *ngIf="!confirmPassword.errors && form.errors && form.errors.dontMatch ">
                 New passwords must be same!
            </div>
        </div>
    </div>

    <button class="btn btn-primary" 
            type="submit" 
            value="Reset Password"
            [disabled]="!form.valid">
            Reset Password
    </button>
</form>